:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: border-box;

    background-color: #444;
    /* background-image: linear-gradient(#fab, #000); */
    margin: 0;
    font-family: sans-serif;
}